* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
    scroll-behavior: smooth;
}

/* HEADER CSS */
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    width: 100px;
}

.header a {
    text-decoration: none;
}

.header ul {
    text-decoration: none;
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: none;
}

/* MAIN */

.main {
    width: 100%;
    height: 600px;
    background-image: url(../assets/universe-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.main span {
    /* margin-left: 65%; */
    width: 25%;
    font-size: large;
    background: none;
}

.main img {
    border-radius: 20px;
    width: 25%;
}

/* VIDEO */

.video {
    display: flex;
    background-color: black;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.video .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .left{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video .left span {
    width: 80%;
    text-align: center;
}

.video .right-yt{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video .right-yt iframe{
    width: 90%;
}

/* API NASA */

.api-nasa {
    display: flex;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 10%;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-around;
}

.api-nasa .imagem {
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
}

.api-nasa .imagem #imagem-nasa {
    height: 100%;
    width: 100%;
}

.api-nasa .txt {
    text-align: center;
}

.api-nasa .txt .cor-letra{
    /* color:black */
}

/* CATEGORY */

.category {
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category .up {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category .down {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category .opt {
    width: 250px;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.category img {
    height: 150px;
    width: 250px;
    border-radius: 25px;
}

/* FOOTER */

.footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: white;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
  }